.header-color{
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.landing-grid{
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;
position: fixed;

left:0;
width:100%;
height: 100%;




}
.avtar-image{
  height:250px;
  padding-top: 5pm;
}
.banner-text{
  /* background-color: black; */
  opacity: .8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 20px;
  font-weight:bold;
  color:white;
  margin-left:10px;
}
.banner-text hr{
  border-top:5px dotted white;
  width:95%;
  margin-left:10px;
}
.banner-text p{
  color:white;
  font-size:15px;
  padding:1em;
}
.social-links{
  display: flex;
  justify-content:center;
  width: 50%;
  margin-left:195px;
  
  
}
/* .fa{
  margin-right:90px;
  
  
} */
.social-links i{
  color:white;
  font-size: 3em;
  padding:4px;
  justify-content: center;
  

}
.project-grid{
  display: flex;
  
}
.contact-body{
  margin:auto;
  background:white;
  position: fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top:2em

}
.contact-grid{
  text-align:center;
  justify-content: center;
  width: 80%;
  height:550px;
  /* background: white; */
  color: black;
  border:2px solid white;
  margin-bottom: 20px;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.contact-list i{
  padding:3rem;
  font-size:50px;
  color:white
  
}
.project-grid a  {
  color:#005C97
}
.contact-body a{
  color: white;  /* fallback for old browsers */

}
.contact-body hr{
  border-top:5px dotted white;
  width:100%;
  
}
.resume-right-col{
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:white;
  padding:10px;
}

